body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    background: white;
}

body .container,
body .container-fluid {
  max-width: 1080px;
}

body .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.home-wrapper .description {
    margin-top: 30px;
  }
  

#everything {
    margin-right: 8%;
    margin-left: 8%;
}