:root {
    --sidebar-size: 200px;
    --navbar-size: 1em;
    --text-color: #555;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--text-color);
    background: white;
}


body .container,
body .container-fluid {
    margin-top: 0px;
    margin-left: 0px;
    padding: 1% 1%;
}


.topnav {
    position: fixed;
    overflow: hidden;
    /* height: var(--navbar-size); */
    display: block;
    background-color: black;
    margin-top: calc(var(--navbar-size)*-1);
}
.topnav a {
    float: left;
    color: var(--text-color);
    
    text-align: center;
    padding: 0px 2em;
    text-decoration: none;
}
.topnav a.navhead {
    font-weight: bold;
}


.home-wrapper .description {
    margin-top: 30px;
}

.main {
    margin-top: var(--navbar-size);
    margin-left: var(--sidebar-size);
    padding: 1% 1%;
}

.main ul {
    display: block;
    text-decoration: none;
    list-style-type: none;
}

.section {
    position: relative;
    scroll-margin-top: var(--navbar-size);
}

.icon {
    color: var(--text-color);
    padding-right: 5%;
}
  

.divider {
    /* flex-grow: 1; */
    border-bottom: 0px solid black;
    /* margin: 5px */
  }


.sidebar {
    margin-top: var(--navbar-size);
    padding: 1% 1%;
    width: var(--sidebar-size);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h1 {
    font-weight: bold;
    font-size: 1.25em;
    padding: 16px;
    text-decoration: none;
}

.sidebar a {
    display: block;
    color: var(--text-color);
    padding: 0.5em 1em;
    text-decoration: none;
}

  
/* Active/current link */
.sidebar a.active {
    background-color: var(--text-color);
    color: white;
}
  

.sidebar a:hover:not(.active),
.sidebar a:hover:not(.active) .icon {
    background-color: var(--text-color);
    color: white;
}

.sidebar a:hover:not(.active) {
    text-decoration: underline;
}


@media screen and (max-width: 700px) {
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}
.main {
    margin-left: 0;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
.sidebar a {
    text-align: center;
    float: none;
}
}
  

#everything {
    margin-right: 8%;
    margin-left: 8%;
}